<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lesson1_ibatis.mappers.StudentMapper">
    <resultMap id="StudentResult" type="Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="dob" column="dob"/>
    </resultMap>

    <select id="findAllStudents" resultMap="StudentResult">
        SELECT *
        FROM students
    </select>

    <select id="findStudentById" parameterType="int" resultType="Student">
        SELECT *
        FROM students
        WHERE id = #{Id}
    </select>

    <insert id="insertStudent" parameterType="Student">
        INSERT INTO students(name, email, dob)
        VALUES (#{name}, #{email}, #{dob})
    </insert>

</mapper>