<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="gracious" class="lesson5_aop.lesson3.GraciousContestant"/>

    <aop:config>
        <aop:aspect>
            <aop:declare-parents types-matching="interface_parts_for_all.Performer+"
                                 implement-interface="lesson5_aop.lesson3.Contestant"
                                 delegate-ref="gracious"/>
        </aop:aspect>
    </aop:config>

</beans>